.page-container {
  height: 100vh;
  width: 100%;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.sub {
  padding-top: 30px;
  width: 84%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.spacer {
  width: 100%;
  min-height: 120px;
}

.footer-img {
  width: 670px;
  height: 330px;
}
